<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="./mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My title</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="https://via.placeholder.com/70x70" height="70"></a>
            <ul>
                <li><a href="#">Menu</a>
                    <ul>
                        <li><a href="#">Sublink 1</a></li>
                        <li><a href="#">Sublink 2</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1>Trending In The Last <i>24</i> Hours</h1>
        <p>Most talked about item on social media</p>
    </header>
    <main>
        <section>
            {{range .}}
            <aside>
                <sup>{{.Currency}}{{.Price}}</sup>
                <div>
                    <a href="{{.Url}}"><h3>{{.Title}}</h3></a>
                </div>
                <img alt="MIT license" src="{{.Img}}">
                <a href="{{.Url}}"><button>View Item</button></a>
            </aside>
            {{end}}
        </section>
        <section>
          <hr>
          <header>
            <p><a href="#"><i>Italic Link Button</i></a><a href="#"><b>Bold Link Button &rarr;</b></a></p>
          </header>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            wiccc8@gmail.com
        </p>
    </footer>
</body>

</html>